<!doctype html>

<html>
<head>
	<title>TR&#916;CK</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css"/>
	<link href="css/index.css" rel="stylesheet" >
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>

	<link href="css/custom.css" rel="stylesheet">
	<script type="text/javascript" src="js/custom.js"></script>
	<script type="text/javascript" src="routes/signup.js"></script>       
</head>

<!--PAGE NEW PHOTO-->
<div data-role="page" id="newphoto" data-add-back-btn="true">
		<!--panel-->
	<div data-role="panel" id="mypanel" data-position="right" data-display="reveal" data-theme="b">
		<ul data-role="listview" data-theme="b">
    		<li data-icon="home"><a href="#home">Home</a></li>
   			<li data-icon="clock"><a href="#reminders">Reminders</a></li>
    		<li data-icon="delete"><a href="#signoutprompt">Sign Out</a></li>
		</ul></br/>
	</div><!-- /panel -->

		<!-- /content-->

	<div data-role="header" data-theme="b"  data-add-back-btn="true">
		<h1>Add New Photos</h1>
				<a href="#mypanel" data-icon="bars" data-role="button" class="showMenu ui-btn-right" data-iconpos="notext"></a>
	</div>

	<div data-role="content" data-theme="c">
		<h3>Add New Photos</h3>
	<!--IMAGE CAPTURE AND UPLOAD VIA FORM-->
		<h4>Left Cheek</h4>
		<form action="#" method="post" enctype="multipart/form-data">
 			<input type="file" accept="image/*">
	<!--END IMAGE CAPTURE AND UPLOAD-->
		<h4>Center</h4>
 			<input type="file" accept="image/*">
		<h4>Right Cheek</h4>
 			<input type="file" accept="image/*">
		</form>
		<!--<a href="./diary" data-role="button" data-theme="b" data-icon="none" data-iconpos="right" id="button" onclick="swapButton()">Upload</a>-->
		 <form id="PhotoForm" role="form" method="get" action="/addentry" >
 			<div style="padding:10px 20px;">
 				<h4>Entry Notes</h4><input type="text" id="diarynotes" name="diarynotes" placeholder="e.g. 'Today I saw improvements'">
 				<input type="submit" id="submitBtn" class="btn btn-default" value="Create Entry" ></input>
 			</div>
 			</form>

	</div>

	<!--div data-role="footer" data-id="fool" data-position="fixed" data-theme="b">
		<div data-role="navbar" data-theme="a" data-iconpos="left">
			<ul>
				<li><a href="./diary" class="ui-btn-active ui-state-persist" data-ajax="none" data-direction="reverse" data-icon="carat-d">Done</a></li>
			</ul>
		</div> 
	</div--><!-- /footer -->
</div>



<!--	<h1>My HCI Friends</h1>
	
	{{#each friends}}
	<div class="friend">
		<img src={{imageURL}} alt="friend" class="img-responsive">
		<a href="#" class="nameListener"><h3>{{name}}</h3></a>
		<p>{{description}}</p>
	</div>
	{{/each}}

<!--	<form id="addFriendForm" role="form" method="get" action="/add">
		<h3>Add a friend</h3>
	    <div class="form-group">
	      <label for="name">Name:</label>
	      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	    </div>
	    <div class="form-group">
	      <label for="description">Description:</label>
	      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
	</form>
-->
</body>
</html>
